.backLink {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--content-grey);
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}

button.backLink {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--content-grey);
}

button.backLink:hover {
  color: var(--content-primary);
}
