.priceImpact {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #ffffffa3;
}

.redText {
  color: var(--accent-warning);
}

.orangeText {
  color: #e56910;
}

.yellowText {
  color: #d4b226;
}

.hidden {
  opacity: 0;
}
